//
// Demo Styles
// -----------

:root {
  height: 100%;
  min-height: 100vh;
  position: relative;
}

.instructions {
  margin-top: 1.5rem;
  text-align: center;
}


//
// Content Visibility
// ==================
// Ref: https://www.a11yproject.com/posts/how-to-hide-content/

// Mixins
@mixin a11yHidden() {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

@mixin a11yVisible() {
  height: initial;
  left: initial;
  overflow: initial;
  position: initial;
  top: initial;
  width: initial;
}

// Utilities
._a11y_hidden {
  @include a11yHidden;
}

._a11y_visible {
  @include a11yVisible;
}


//
// Custom Properties
// -----------------

:root {
  --command-background: #999;
  --command-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.1);
  --command-active: #ECF3FD;
  --command-input: #2D2D37;
  --command-list: #ffffff;
  --command-text: #2D2D37;
  --command-text-secondary: #4E5061;
  --command-text-tertiary: #6F768F;
  --command-text-inverse: #ffffff;
  --command-help-background: #fafafa;
  --command-help-border: #f2f2f2;
  --command-help-icon-background: #e3e3e3;
  --command-help-icon-fill: #52586c;
  --command-help-icon-border: #d1d5dc;
  --command-width: 600px;
  --command-height: 55px;
  --command-list-limit: 3;
  
  --notification-text: #ffffff;
  --notification-background: #2D2D37;
  --notification-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.1);
  --notification-border-radius: 4px;
  
  --transition-s: 75ms;
  --transition-m: 150ms;
  --transition-l: 225ms;

  --border-radius-s: 3px;
  --border-radius-l: 6px;

  --font-family-base: -apple-system, system-ui, sans-serif;
  --font-family-mono: 'Source Code Pro', monospace;
  --font-weight-mono-semibold: 700;

  --font-size-12: .75rem;
  --font-size-14: .875rem;
  --font-size-16: 1rem;
}


//
// Base Styles
// -----------

// Overlay
:root {
  position: relative;
  
  &.-overlay {
    &::before {
      background: rgba(0, 0, 0, .35);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }    
  }
}

body {
  font-family: var(--font-family-base);
  overflow-x: hidden;
}

code {
  font-family: var(--font-family-mono);
}


//
// Command Palette
// ---------------

.commandPalette {
  color: var(--command-text);
  border-radius: var(--border-radius-l);
  box-shadow: var(--command-shadow);
  display: none;
  width: var(--command-width);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  
  // Modifiers
  &.-visible {
    display: block;
    visibility: visible;
  }

  &.-filled-with-icon {
    .commandPalette-input {
      text-indent: 2.75rem;
    }

    .command-icon {
      position: absolute;
      left: 1rem;
      // Slight optical alignment adjustment
      transform: translateY(-1px);
    
      // Descendants
      path { 
        fill: var(--command-text-inverse)
      }
    }
  }

  &.-subcommand-active {
    .commandPalette-list {
      max-height: unset;
    }
  }

  &.-grouped {
    .command-group {
      @include a11yVisible();
    }
  }
}

.commandPalette-header { 
  align-items: center;
  display: flex;
}

.commandPalette-input {
  background-color: var(--command-input);
  border: none;
  border-top-left-radius: var(--border-radius-l);
  border-top-right-radius: var(--border-radius-l);
  color: var(--command-text-inverse);
  font-size: var(--font-size-16);
  line-height: 1;
  outline: 0;
  padding: 0;
  height: var(--command-height);
  text-indent: 1rem;
  width: 100%;
}

.commandPalette-list {
  background-color: var(--command-list);
  list-style-type: none;
  margin: 0;
  max-height: calc(var(--command-height) * var(--command-list-limit));
  overflow: hidden;
  padding: 0;
  width: 100%;
  
  &:focus {
    outline: 0;
  }

  // Modifiers
  &.-scroll {
    overflow: scroll;
  }
  
  &.-rounded {
    border-bottom-left-radius: var(--border-radius-l);
    border-bottom-right-radius: var(--border-radius-l);
  }
  
  &.-no-results {
    color: var(--command-text-tertiary);
    font-variant: all-small-caps;
    letter-spacing: -.015em;
  }
}

.commandPalette-help {
  align-items: center;
  background-color: var(--command-help-background);
  border-top: 1px solid var(--command-help-border);
  border-radius: 0 0 var(--border-radius-l) var(--border-radius-l);
  color: var(--command-text-tertiary);
  display: flex;
  font-size: var(--font-size-14);
}

.commandPalette-help-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  
  // Modifiers
  &.-hidden { 
    @include a11yHidden();
  }
}

.commandPalette-help-icon {
  margin-right: .2rem;
  
  // Modifiers
  &.-up-down-arrow { 
    height: 14px;
  }
  
  &.-forward-slash,
  &.-esc { 
    font-weight: var(--font-weight-mono-semibold);
    line-height: 1.1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.commandPalette-help-guide {
  --icon-opacity: .5;
  --text-opacity: 0;
  
  align-items: center;
  background-color: var(--command-help-icon-background);
  border-bottom-left-radius: var(--border-radius-l);
  display: flex;
  padding: .35rem .5rem;
  
  &:hover {
    --icon-opacity: 1;
    --text-opacity: 1;
    
    .commandPalette-help-hint {
      @include a11yVisible();
      
      left: 3rem;
      position: absolute;
    }
  }
}

.commandPalette-help-hint {
  @include a11yHidden();
  
  font-size: var(--font-size-14);
  line-height: 0;
  opacity: var(--text-opacity);
  transition: opacity var(--transition-s);
}

.commandPalette-help-guide-icon {
  fill: var(--command-help-guide-primary);
  opacity: var(--icon-opacity);
  transition: opacity var(--transition-m);
  width: 18px;
}


//
// Individual Commands
// -------------------

.command {
  align-items: center;
  color: var(--command-text-secondary);
  cursor: pointer;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  height: var(--command-height);
  
  &:hover,
  &:focus {
    background-color: var(--command-active);
    color: var(--command-text);
    outline: 0;
    
    .command-description {
      height: auto;
      opacity: 1;
      transform: translateY(0);
    }
    
    .command-arrow { 
      transform: translateX(2px);
    }
  }
}

.command-icon {
  height: auto;
  line-height: 0;
  margin-right: .75rem;
  max-width: 18px;
}

.command-description {
  color: var(--command-text-tertiary);
  display: block;
  font-size: var(--font-size-12);
  height: 0;
  opacity: 0;
  transform: translateY(-5px);
  transition: transform var(--transition-m), opacity var(--transition-s);
}

.command-details {
  flex: 1;
  
  // Sentence-case workaround
  &::first-letter {
    text-transform: uppercase;
  }
}

.command-shortcuts {
  text-align: right;
}

.command-arrow {
  max-width: 16px;
  transition: transform var(--transition-m);  
}

.command-group {
  @include a11yHidden();

  color: var(--command-text-tertiary);
  display: block;
  font-family: var(--font-family-mono);
  font-size: var(--font-size-16);
  font-variant: all-petite-caps;
  font-weight: 500;
  margin-bottom: .25rem;
  margin-left: .875rem;
  margin-top: .5rem;
  user-select: none;
}

//
// Subcommands
// -----------

.subcommand { 
  padding: 1.25rem 1.5rem;
}

.subcommand-group {
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
}

.subcommand-label {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  text-align: right;
  width: 20ch;
}

.subcommand-heading {
  color: #4E5061;
  font-size: .9rem;
}


.subcommand-description {
  color: #7B839F;
  font-size: var(--font-size-12);
}

.subcommand-action {
  text-align: right;
}


//
// Buttons
// -------

.button {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color var(--transition-m);

  // Modifiers
  &.-primary {
    background: #ECF3FD;
    border: 1px solid #87B1EC;
    border-radius: var(--border-radius-s);
    color: #2D2D37;
    padding: .5rem 1rem;
    
    &:hover {
      background: #D9E8FC;
    }
  }
}


//
// Search
// ------

.search {
  background: #FAFAFC url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_135_55)'%3E%3Cpath d='M19.6914 18.416L14.457 13.1816C15.5899 11.7949 16.2149 10.0488 16.2149 8.14258C16.2149 3.6543 12.577 0.0175781 8.08985 0.0175781C3.60274 0.0175781 0 3.65547 0 8.14258C0 12.6297 3.63751 16.2676 8.08985 16.2676C9.99571 16.2676 11.7441 15.607 13.1289 14.5082L18.3633 19.7426C18.582 19.9277 18.8242 20.0176 19.0625 20.0176C19.3008 20.0176 19.5422 19.926 19.7254 19.7429C20.0899 19.377 20.0899 18.7832 19.6914 18.416ZM1.87501 8.14258C1.87501 4.69648 4.67891 1.89258 8.12501 1.89258C11.5711 1.89258 14.375 4.69648 14.375 8.14258C14.375 11.5887 11.5711 14.3926 8.12501 14.3926C4.67891 14.3926 1.87501 11.5879 1.87501 8.14258Z' fill='%23A0A5BC'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_135_55'%3E%3Crect width='20' height='20' fill='white' transform='translate(0 0.0175781)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat .75rem center;
  border: 1px solid #D6D7E1;
  border-radius: var(--border-radius-s);
  color: #2D2D37;
  font-size: var(--font-size-16);
  padding: .75rem .875rem;
  text-indent: 1.75rem;
  width: 100%;
  
  &::placeholder {
    color: #7B839F;
  }
}


//
// Keyboard Shortcut
// -----------------

.shortcut {
  align-items: center;
  background-color: var(--command-help-icon-background);
  border-radius: var(--border-radius-s);
  border: 1px solid var(--command-help-icon-border);
  color: var(--command-text-tertiary);
  display: inline-flex;
  font-family: var(--font-family-mono);
  fill: var(--command-help-icon-fill);
  height: 15px;
  padding: .15rem .3em;
}


//
// Notifications
// -------------

.notification {
  background: var(--notification-background);
  box-shadow: var(--notification-shadow);
  border-radius: var(--notification-border-radius);
  color: var(--notification-text);
  opacity: 0;
  padding: .75rem 1rem;
  position: absolute;
  right: 0;
  top: 1.5rem;
  transform: translateX(100%);
  transition: transform var(--transition-l) ease-in-out, opacity var(--transition-s);
  user-select: none;
  width: 200px;
  
  // Modifiers
  &.-visible {
    opacity: 1;
    transform: translateX(-1.5rem);
    user-select: all;
  }
}